<div class="title">
    <h1>List of Students</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<!-- *ngIf="dataSource.data.length > 0" -->
<div  class="container">
    <mat-form-field apparance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
          </ng-container>
        
          <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef> Gender </th>
              <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>
        
              <ng-container matColumnDef="currentCourse">
                  <th mat-header-cell *matHeaderCellDef> Current Course </th>
                  <td mat-cell *matCellDef="let element"> {{element.currentCourse}} </td>
                </ng-container>
        
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>
                  
        
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> 
                        <button routerLink="/addStudents" mat-flat-button>Add</button> 
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon routerLink="/infoStudents/{{element.id}}" matTooltip="Info" class="info" fontIcon ="info"></mat-icon>
                        <mat-icon routerLink="/editStudents/{{element.id}}" matTooltip="Edit" class="edit" fontIcon ="edit"></mat-icon>
                        <mat-icon (click)="DeleteStudent(element.id)" matTooltip="Delete" class="delete" fontIcon ="delete"></mat-icon>
                     </td>
                  </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

</div>
  
  